
<div>
    <form >
        <div class="form-group">
   <input  class="form-control" type="text" placeholder="search by student rollnumber" name="searchstudent" [(ngModel)]="search">    
        </div>    
</form>
</div>
<body>
<div *ngIf=b4>
    <form #ref="ngForm" (ngSubmit)="onsubmit4(ref.value)">
        <div>
            <label> ROllNUMBER</label>
            <input type="text" name="rollnumber" class="form-control" [value]="objecttomodify4.rollnumber"
                [(ngModel)]=objecttomodify4.rollnumber>
        </div>
        <div class="form-group">
            <label>STUDENT NAME</label>
            <input type="text" class="form-control  " id="studentname" placeholder="NAME" name="studentname"
                [value]="objecttomodify4.studentname" [(ngModel)]=objecttomodify4.studentname>
        </div>
        <div>
            <label>CLASS</label>
            <input type="text" name="class" class="form-control" [value]="objecttomodify4.class"
                [(ngModel)]=objecttomodify4.class>
        </div>
        <div>
            <label >GMAIL</label>
            <input type="email" name="gmail" class="form-control" [value]="objecttomodify4.gmail"
                [(ngModel)]=objecttomodify4.gmail>
        </div>
        <div>
            <label>MOBILE NUMBER</label>
            <input type="number" name="phnumber" class="form-control" [value]="objecttomodify4.phnumber"
                [(ngModel)]=objecttomodify4.phnumber>
        </div>

        <div class="text-center"><button type="submit" class="btn btn-primary mt-3">save</button></div>
    </form>
</div>
<div>
    <table class="table table-stripped ">
        <thead>

            <th>
                ROLL NUMBER
            </th>
            <th>
                STUDENT NAME
            </th>
            <th>
                CLASS
            </th>
            <th>
               GMAIL
            </th>
            <th>
               MOBILE NUMBER
            </th>
            

        </thead>
        <tr *ngFor="let obj of data | searchstudent:search">
            <td>
                {{obj.rollnumber}}
            </td>
            <td>
                {{obj.studentname}}
            </td>
            <td>
                {{obj.class}}
            </td>
            <td>
                {{obj.gmail}}
            </td>
            <td>
                {{obj.phnumber}}
            </td>
            
                <button (click)="deletestudent(obj.studentname)"> <a> <img src="assets/delete.png"
                            style="width:25px;"></a> </button>
            
            
                <button (click)="updateprofile(obj)"> <a> <img src="assets/edit.png" style="width:25px;"></a> </button>
            
        </tr>
    </table>
</div>
</body>